---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Background from '../layouts/Background.astro'
import Proyects from '../components/Proyects.astro'
---                               

<Layout title='Welcome to Astro.'>
  <main class='z-50'>
    <Hero />
    <Proyects />
  </main>
</Layout>
