---
import Github from "../svg/Github.astro";
import Linkedin from "../svg/Linkedin.astro";
---

<footer class="footer footer-center rounded bg-accent bg-opacity-30 p-10 shadow-xl backdrop-blur-md">
  <div class="grid grid-flow-col gap-4">
    <a href="#proyects" class="link-hover link">
      Proyects
    </a>
    <a href="#about" class="link-hover link">
      About
    </a>
    <a href="#contact" class="link-hover link">
      Contact
    </a>
  </div>
  <div>
    <div class="grid grid-flow-col gap-4">
      <a href="https://www.linkedin.com/in/armany-felix">
        <Linkedin />
      </a>
      <a href="https://github.com/armanyfelix/">
        <Github />
      </a>
    </div>
  </div>
</footer>
