---
import { motion } from "framer-motion";
import Spotlight from "./Spotlight.astro";
---


<section class='h-screen w-full'>
  <Spotlight />
  <motion.div
    client:load
    initial={{ opacity: 0.0, y: 40 }}
    whileInView={{ opacity: 1, y: 0 }}
    transition={{
      delay: 0.3,
      duration: 0.8,
      ease: 'easeInOut',
    }}
    className='relative w-full flex flex-col gap-4 items-center justify-center px-4'
  >
    <div class='text-3xl md:text-7xl font-bold text-primary text-center'>
       Full Stack Software Developer
    </div>
    <div class='font-extralight text-base md:text-4xl dark:text-neutral-200 py-4'>
      Armany Felix
    </div>
    <button
      class='bg-black dark:bg-white rounded-full w-fit text-white dark:text-black px-4 py-2'
    >
      Debug now
    </button>
  </motion.div>
</section>
